@{
    Layout = "~/Shared/_Layout.cshtml";
    
    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage(PageContext.Page.VirtualPath);
}
	<!-- PAGE -->
	<div id="page">
		<div id="leftSide">
			<h1>@Html.Raw( Page.SitePage.PageParentHeading )</h1>
			<h2>@Html.Raw( Page.SitePage.Heading )</h2>
            @Html.Raw( Page.SitePage.Body )
		</div>
		@RenderPage( "~/Shared/_RightColumn.cshtml" )
		<br style="clear:left;" />
	</div>