@{  
    Layout = "~/Shared/_Layout.cshtml";

    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage(PageContext.Page.VirtualPath);

    // identify the return code of the error - if not supplied go with internal error
    int rcnum = WebConvert.ToInt32( Request.QueryString[ "rc" ], 1 );
    // create an exception based on the specified RC
    Sancsoft.Web.WebException ex = new Sancsoft.Web.WebException( (Sancsoft.Web.RC)rcnum );
    
    // get the specific error message from the database
    string title;
    string message;
    ex.GetError(out title, out message);
}
	<!-- PAGE -->
	<div id="page">
		<div id="leftSide">
            <h1>@title</h1>
            <p><b>Error #@rcnum</b></p>
            <p>@message</p>
            <p><b>Source:</b> @Request.QueryString[ "source" ]</p>
            <div class="orangeButtonLeftNoImage"><a href="javascript: history.go(-1);">Back</a></div>
            <br style="clear:both;" />
		</div>
		@RenderPage( "~/Shared/_RightColumn.cshtml" )
		<br style="clear:left;" />
	</div>


