@{
    // create and assign a referral cookie
    Guid guid = Referrals.RemoveReferral();
}
@{
    Layout = "~/Shared/_Layout.cshtml";

    // identify the page and load the navigation info into the page
    Page.SitePage = new SiteWebPage(7);
}
	<!-- PAGE -->
	<div id="page">
		<div id="leftSide">
            <p>Removed Referral = @guid.ToString()</p>
			<br style="clear:left;" />
		</div>
		@RenderPage( "~/Shared/_RightColumn.cshtml" )
		<br style="clear:left;" />
	</div>
