<?xml version="1.0"?>
<configuration>
    <!-- DATABASE CONNECTION -->
    <connectionStrings>
        <add name="WebDBConnectionString" connectionString="Data Source=ralph3;Initial Catalog=UTC_Production;Persist Security Info=True;User ID=sa;Password=PASSWORDGOESHERE" />
    </connectionStrings>
    <appSettings>
       
        <add key="vs:EnableBrowserLink" value="false"/>

        
        <add key="IS_DEBUG" value="true" />

        <!-- Payflow Pro Host Name. This is the host name for the PayPal Payment Gateway.
				For testing:  pilot-payflowpro.paypal.com.
				For production: payflowpro.paypal.com -->
        <add key="PAYFLOW_HOST" value="payflowpro.paypal.com" />
        <!-- TRACE value when set to ON will show the complete exception stack trace in the response message, if any.
			 Change TRACE value to "ON" to switch on the stack trace in response message.-->
        <add key="TRACE" value="OFF" />
        <!-- This is a LOG level tag.To switch on logging change the logger level from "OFF" to any of the following:
			a. DEBUG
			b. INFO
			c. WARN
			d. ERROR
			e. FATAL -->
        <add key="LOG_LEVEL" value="OFF" />
        <!-- Relative path for LOG file. -->
        <add key="LOG_FILE" value="logs\PayflowSDK.log" />
        <!-- Log file filesize constant. -->
        <add key="LOGFILE_SIZE" value="102300" />

        <add key="webpages:Enabled" value="true" />
        <add key="webPages:Version" value="2.0"/>
    </appSettings>
    <system.web>
        <!-- State Server:
             Application pool for session state persistence.
             NOTE: For local development only; comment out or remove
                   on development and production servers.
        <sessionState mode="StateServer" stateConnectionString="tcpip=stateserver.webdev.sancsoft.net:42424" cookieless="false" timeout="120" /> -->

        <!-- 10MB Maximum Upload Size (kilobytes) -->
        <httpRuntime maxRequestLength="10000" requestValidationMode="2.0" />

        <!-- Session State Timeout -->
        <sessionState timeout="60" />

        <customErrors mode="Off" />
        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
                <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
            <controls>
                <add tagPrefix="dxe" namespace="DevExpress.Web.ASPxEditors" assembly="DevExpress.Web.ASPxEditors.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
                <add tagPrefix="dxwgv" namespace="DevExpress.Web.ASPxGridView" assembly="DevExpress.Web.ASPxGridView.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
            </controls>
        </pages>
        <httpModules>
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </httpModules>
    </system.web>
    <system.webServer>
      <directoryBrowse enabled="true" />
        <security>
            <requestFiltering>
                <!-- 10MB Maximum Upload Size (bytes) -->
                <requestLimits maxAllowedContentLength="10000000" />
            </requestFiltering>
        </security>
        <validation validateIntegratedModeConfiguration="false" />
        <!-- Needs runAllManagedModulesForAllRequests to support routing of CSHTML pages -->
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v11.1, Version=11.1.7.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        </modules>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
    </system.webServer>
</configuration>