@{
    Layout = "~/Shared/_Layout.cshtml";

    // create an unmanaged page
    Page.SitePage = new SiteWebPage( "~/BusinessDirectory.cshtml" );

    WebDBContext db = new WebDBContext( );

    // get all of the categories for the dropdownlist
    List<VwCategories> rsCat = db.VwCategories.Where( target => target.CatParentID == 0 ).OrderBy( target => target.CatParentName ).ThenBy( target => target.CatName ).ToList( );
}
@section head
{
    <script type="text/javascript">
        $(document).ready(function () {
            var $selCatID = $("#selCatID");
            var $businessLocationsList = $("#BusinessLocationsList");
            var $businessesLoading = $("#BusinessesLoading");
            var $txtBusinessKeywords = $("#txtBusinessKeywords");
            var keywordTimeoutMs = 1500; // 1.5 seconds
            var keywordTimeout = null;

            // CATEGORY DROPDOWN LIST EVENTS
            $selCatID.on({
                change: function (e, keywords) {
                    var id = $(this).val();
                    var dataString = 'ID=' + id + '&keywords=' + keywords;
                    $businessesLoading.removeClass("hide");
                    $businessLocationsList.empty();
                    $.ajax({
                        type: "POST",
                        url: "@Href( "~/Directory/ListBusinesses" )",
                        data: dataString,
                        success: function (html) {
                            $businessLocationsList.html(html);
                            $businessesLoading.addClass("hide");
                        }
                    });
                }
            });

            // Keyword filter
            $txtBusinessKeywords.on({
                keyup: function () {
                    // Check the timeout and clear
                    if (keywordTimeout) {
                        clearTimeout(keywordTimeout);
                        keywordTimeout = null;
                    }

                    // Get the keywords input
                    var keywords = $txtBusinessKeywords.val();

                    // Throttle the reload with a timeout
                    keywordTimeout = setTimeout(function () {
                        $selCatID.trigger("change", keywords);
                    }, keywordTimeoutMs);
                }
            });

            // default to all locations for now
            $selCatID.val("0");
            $selCatID.trigger("change");
        });
    </script>
}
<!-- PAGE -->
<div id="page">
    <div id="fullSide">
        <h1>Business Directory</h1>
        <h2>Check out the businesses currently available through Unite This City</h2>
        <div style="width:100%; margin-bottom:20px; border-bottom:1px solid black;" class="hidden-mobile"></div>
        <div class="form-group">
            <b>Looking for something specific?</b>
            &nbsp;&nbsp;
            <br class="visible-mobile" />
            <br class="visible-mobile" />
            <input type="text" name="txtBusinessKeywords" id="txtBusinessKeywords" class="form-control" placeholder="Search by keyword...">
            &nbsp;&nbsp;
            <select id="selCatID" name="selCatID" class="form-control">
                <option value="0" class="hidden-mobile">Show All</option>
                <option value="0" class="visible-mobile">Filter by category</option>
                @foreach ( var row in rsCat )
                {
                    <option value="@(row.CatID)">@(row.CatName)</option>
                }
            </select>

        </div>
        <div style="margin-top:10px; margin-bottom:10px;">@Html.Raw( Page.SitePage.Body )</div>
        <div id="BusinessesLoading">
            <img src="/images/loading.gif" alt="Loading" border="0" style="vertical-align: middle;" />
            Loading business directory...
        </div>
        <div id="BusinessLocationsList"></div>
    </div>
    <br style="clear:left;" />
</div>