/**********************************************************************
	Filename: msg.unitethiscity.css
	Project:  unitethiscity.com
	
	CSS for application level web pages
**********************************************************************/
/* BODY TAG */
body { margin:0px; padding:0px; background-color:#aaaaaa;  }
body, div, p, span, a, ul, li, td, input, textarea { font-family:Arial, Verdana, Helvetica, sans-serif; font-weight:normal; font-size:12px; color:#555555; }
a { color:#000000; text-decoration:none; outline:none; }
a:hover { color:#666666; text-decoration:underline; }
a img { border-width:0px; }
p { margin:0px; padding:0px 0px 17px 0px; }
hr { margin:12px 0px 20px 0px; border:none; border-top:solid 1px #244568; }
form { margin:0px; padding:0px; }

/* HEADING TAGS */
h1, h2, h3, h4, h5 { font-family:Arial, Verdana, Helvetica, sans-serif; margin:0; padding:0; color:#333333; }
h1 { font-size:14px; font-weight:normal; text-transform:uppercase; margin-bottom:10px; }
h2 { font-size:14px; font-weight:bold; margin-bottom:13px; }
h3 { font-size:12px; font-weight:bold; padding-bottom:0; }
h4 { font-size:12px; font-weight:normal; padding-bottom:1px; }
h5 { font-size:12px; font-weight:normal; margin:0; padding:0px 0px 17px 0px; }

#terms { position:relative; min-height:300px; padding:15px; z-index:1; }

