/**********************************************************************
	Filename: unitethiscity.css
	Project:  unitethiscity.com
	
	Global style sheet
**********************************************************************/
/* BODY TAG */
body { margin:0px; padding:0px; background-color:#595959; background-image:url(../images/bodyBG.jpg); background-repeat:repeat-x; background-position:center top; }

/* GENERAL TAGS */
body, div, p, span, a, ul, li, td, input, textarea { font-family:Arial, Verdana, Helvetica, sans-serif; font-weight:normal; font-size:12px; color:#000000; }
a { color:#f6921e; text-decoration:none; outline:none; }
a:hover { color:#f6921e; text-decoration:underline; }
a img { border-width:0px; }
p { margin:0px; padding:0px 0px 17px 0px; }
hr { margin:12px 0px 20px 0px; border:none; border-top:solid 1px #244568; }
form { margin:0px; padding:0px; }

/* HEADING TAGS */
h1, h2, h3, h4, h5 { font-family:Arial, Verdana, Helvetica, sans-serif; margin:0px; padding:0px; color:#58595b; }
h1 { font-size:24px; font-weight:normal; text-transform:uppercase; margin-bottom:10px; }
h2 { font-size:20px; font-weight:normal; color:#f6921e; margin-bottom:13px; }
h3 { font-size:16px; padding-bottom:0px; }
h4 { font-size:14px; font-weight:normal; padding-bottom:1px; color:#f6921e; }
h5 { font-size:12px; font-weight:normal; margin:0px; padding:0px 0px 17px 0px; }

/* HEADER ELEMENTS */
#headerWrapper { height:131px; background-image:url(../images/headerBG.jpg); background-repeat:repeat-x; opacity:0.9; filter:alpha(opacity=90); }
#header { position:relative; width:960px; margin:0px auto; }
#logoContainer { position:absolute; top:27px; left:107px; }
#logo { position:absolute; top:17px; left:87px; }
#nowServing { position:absolute; top:50px; right:90px; }
.followUsContainer { position:absolute; top:58px; right:293px; height:22px; }
.followUsText { float:left; margin:5px 15px 0px 0px; font-weight:bold; font-size:14px; color:#999999; }
.followTwitter { float:left; margin:0px 15px 0px 0px; }
.followFacebook { float:left; }

/* MAIN NAVIGATION */
#navigationWrapper { position:relative; height:74px; margin:0px auto; background-image:url(../images/mainNavBG.png); background-repeat:no-repeat; background-position:center top; }
#navigationContainer { position:relative; width:895px; margin:0px auto; height:34px; padding:11px 0px 15px 10px; }
.navSection { position:relative; float:left; padding:0px 17px 0px 17px; margin:0px 6px 0px 5px; background-color:#ffffff; border:1px solid #a49377; text-transform:uppercase; color:#000000; line-height:34px; -webkit-border-top-left-radius:8px; -moz-border-top-left-radius:8px; border-top-left-radius:8px; -webkit-border-top-right-radius:8px; -moz-border-top-right-radius:8px; border-top-right-radius:8px; -webkit-border-bottom-right-radius:8px; -moz-border-bottom-right-radius:8px; border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; -moz-border-bottom-left-radius:8px; border-bottom-left-radius:8px; }
.navSection a { display:block; color:#000000; }
.navSection a.Here { color:#f6921e; text-decoration:none; }
.navSection a:hover { color:#f6921e; text-decoration:none; }
.navSection a.main { display:block; color:#000000; }
.navSectionHere a.main { display:none; color:#f6921e; }
.navSectionHere a:hover { color:#f6921e; text-decoration:none; }
.navSection a.main:hover { color:#000000; text-decoration:none; }
.navSection:hover a.main { color:#f6921e; text-decoration:none; }
.navSectionHere { position:relative; float:left; padding:0px 17px 0px 17px; margin:0px 6px 0px 5px; background-color:#ffffff; border:1px solid #a49377; text-transform:uppercase; color:#f6921e; line-height:34px; -webkit-border-top-left-radius:8px; -moz-border-top-left-radius:8px; border-top-left-radius:8px; -webkit-border-top-right-radius:8px; -moz-border-top-right-radius:8px; border-top-right-radius:8px; -webkit-border-bottom-right-radius:8px; -moz-border-bottom-right-radius:8px; border-bottom-right-radius:8px; -webkit-border-bottom-left-radius:8px; -moz-border-bottom-left-radius:8px; border-bottom-left-radius:8px; }
.navSectionHere div.navDropDown { display:none; z-index:50; }
.navSectionHere div.navDropDownRight { display:none; z-index:50; }
.navSectionHere div.navArrow{ display:block; }
.navSectionHere:hover a.main { color:#f6921e; text-decoration:none; }
.navSection:hover { color:#f6921e; cursor:pointer; }
.navArrow { display:none; width:100%; position:absolute; bottom:-10px; left:0px; z-index:1000; }
.navArrow div { width:100%; height:10px; }

.navDropDown { display:none; position:absolute; top:40px; left:0; min-width:215px; z-index:100; padding-left:8px; padding-right:8px; padding-top:7px; padding-bottom:7px; background-color:#ffffff; line-height:normal; border:1px solid #9e9a94; box-shadow:2px 2px 5px 1px #5c5c5c; border-radius:9px; }
.navDropDown div { display:block; }
.navDropDown div a { display:block; padding:7px 10px 7px 10px; text-transform:uppercase; color:#6e6f71; background-color:#ffffff; }
.navDropDown div a.Here { color:#f6921e; }
.navDropDown div a:hover { color:#f6921e; text-decoration:none; }
.navDropDown div.navLine { height:1px; background-color:#c8c7c7; }

.navDropDownRight { display:none; position:absolute; top:48px; z-index:100; padding-left:8px; padding-right:8px; padding-top:7px; padding-bottom:7px; background-color:#ffffff; line-height:normal; box-shadow:2px 2px 5px 1px #5c5c5c; border-radius:9px; }
.navDropDownRight div { display:block }
.navDropDownRight div a { display:block; padding:7px 10px 7px 10px; text-transform:uppercase; color:#6e6f71; background-color:#ffffff; }
.navDropDownRight div a.Here { color:#f6921e; }
.navDropDownRight div a:hover { color:#f6921e; text-decoration:none; }
/*
.About { left:0px; min-width:210px;}
.Become { left:0px; min-width:210px; }
.Business { left:0px; min-width:210px; }
.Giving { left:0px; min-width:210px; }
.GetApp { right:0px; min-width:210px; }
.JoinUs { right:0px; min-width:210px; }
*/
/* PAGE ELEMENTS */
#page { position:relative; width:859px; min-height:300px; margin:0px auto; padding:20px 20px 0px 81px; z-index:1; }
#leftSide { position:relative; z-index:11; float:left; width:507px; min-height:240px; margin-right:25px; margin-bottom:113px; padding:30px 37px 30px 37px; background-color:#ffffff; box-shadow:2px 2px 5px 1px #434343; }
#rightSide { position:relative; z-index:11; float:left; width:253px; margin-bottom:113px; }
#fullSide { position:relative; z-index:11; float:left; width:770px; min-height:240px; margin-right:25px; margin-left:-25px; margin-bottom:113px; padding:30px 37px 30px 37px; background-color:#ffffff; box-shadow:2px 2px 5px 1px #434343; }
.rightSideTitle { margin-left:30px; margin-top:8px; font-size:21px; font-weight:normal; color:#ffcf01; margin-bottom:5px; }
.checklist { min-height:21px; margin-bottom:5px; padding:2px 0px 0px 30px; background-image:url(../images/checkmark.png); background-repeat:no-repeat; background-position:left top; font-size:14px; color:#ffffff; }
.checklist span.highlightYellow { font-size:14px; color:#f6921e; }
.hrGray { width:100%; height:4px; margin-bottom:11px; background-color:#d1d3d4; }
.breadcrumbs { position:absolute; top:-10px; left:80px; z-index:50; height:37px; padding:4px 5px 4px 56px; background-color:#ffffff; background-image:url(../images/breadcrumbHands.jpg); background-repeat:no-repeat; background-position:0px 2px; box-shadow:2px 2px 5px 1px #434343; }
.breadcrumbGray { float:left; height:9px; padding:14px 6px 14px 15px; background-color:#a7a9ac; text-transform:uppercase; color:#ffffff; line-height:9px; }
.breadcrumbOrange { float:left; height:9px; padding:14px 6px 14px 15px; background-color:#f0b713; text-transform:uppercase; color:#ffffff; line-height:9px; }
.breadcrumbSpacerGrayOrange { float:left; width:22px; height:37px; background-image:url(../images/breadcrumbSpacer2.jpg); background-repeat:no-repeat; }
.breadcrumbEndOrgange { float:left; width:17px; height:37px; background-image:url(../images/breadcrumbEnd2.jpg); background-repeat:no-repeat; }
.breadcrumbSpacerOrangeGray { float:left; width:22px; height:37px; background-image:url(../images/breadcrumbSpacer.jpg); background-repeat:no-repeat; }
.breadcrumbSpacerGrayGray { float:left; width:22px; height:37px; background-image:url(../images/breadcrumbSpacer3.jpg); background-repeat:no-repeat; }
.breadcrumbEndGray { float:left; width:17px; height:37px; background-image:url(../images/breadcrumbEnd.jpg); background-repeat:no-repeat; }
.breadcrumbs div a { color:#ffffff; }
.breadcrumbs div a:hover { color:#ffffff; text-decoration:underline; }

.breadcrumbs.Roles { position:absolute; top:-10px; left:56px; padding:4px 5px 4px 5px; background-color:#ffffff; background-image:none; }

/* ORANGE BUTTONS */
.orangeButton { display:inline-block; }
.orangeButton a { display:block; min-height:33px; background-repeat:no-repeat; background-position:13px 0px; padding:0px 19px 0px 19px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeButton a:hover { text-decoration:none; }
.rightButton { margin-left:10px; }
.leftButton { margin-right:10px; }

.orangeButtonRight { float:right; }
.orangeButtonRight a { display:block; min-height:33px; background-image:url(../images/btnHands.jpg); background-repeat:no-repeat; background-position:13px 0px; padding:0px 19px 0px 86px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeButtonRight a:hover { text-decoration:none; }

.orangeButtonLeft { float:left; }
.orangeButtonLeft a { display:block; min-height:33px; background-image:url(../images/btnHands.jpg); background-repeat:no-repeat; background-position:13px 0px; padding:0px 19px 0px 86px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeButtonLeft a:hover { text-decoration:none; cursor:pointer;}

.orangeButtonLeftNoImage { float:left; }
.orangeButtonLeftNoImage a { display:block; min-height:33px; padding:0px 19px 0px 19px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #424242; }
.orangeButtonLeftNoImage a:hover { text-decoration:none; cursor:pointer;}

.orangeButtonLeftBlack { float:left; }
.orangeButtonLeftBlack a { display:block; min-height:33px; background-image:url(../images/btnHands.jpg); background-repeat:no-repeat; background-position:13px 0px; padding:0px 19px 0px 86px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #424242; }
.orangeButtonLeftBlack a:hover { text-decoration:none; }

.orangeButtonLeftBlackNoImage { float:left; }
.orangeButtonLeftBlackNoImage a { display:block; min-height:33px; background-repeat:no-repeat; background-position:13px 0px; padding:0px 19px 0px 19px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #424242; }
.orangeButtonLeftBlackNoImage a:hover { text-decoration:none; }

.orangeArrowButtonLeft { float:left; }
.orangeArrowButtonLeft a { display:block; min-height:33px; background-image:url(../images/btnArrow.jpg); background-repeat:no-repeat; background-position:15px 4px; padding:0px 19px 0px 59px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeArrowButtonLeft a:hover { text-decoration:none;cursor:pointer; }
.orangeArrowButtonRight { float:right; }
.orangeArrowButtonRight a { display:block; min-height:33px; background-image:url(../images/btnArrow.jpg); background-repeat:no-repeat; background-position:15px 4px; padding:0px 19px 0px 59px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeArrowButtonRight a:hover { text-decoration:none;cursor:pointer; }
.orangeArrowButtonRight input { display:block; min-height:33px; background-image:url(../images/btnArrow.jpg); background-repeat:no-repeat; background-position:15px 4px; padding:0px 19px 0px 59px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeArrowButtonRight input:hover { text-decoration:none;cursor:pointer; }
.orangeBackButtonLeft { float:left; }
.orangeBackButtonLeft a { display:block; min-height:33px; background-image:url(../images/btnBack.jpg); background-repeat:no-repeat; background-position:15px 4px; padding:0px 19px 0px 59px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeBackButtonLeft a:hover { text-decoration:none;cursor:pointer; }
.orangeBackButtonRight { float:right; }
.orangeBackButtonRight a { display:block; min-height:33px; background-image:url(../images/btnBack.jpg); background-repeat:no-repeat; background-position:15px 4px; padding:0px 19px 0px 59px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeBackButtonRight a:hover { text-decoration:none;cursor:pointer; }
.orangeBackButtonRight input { display:block; min-height:33px; background-image:url(../images/btnBack.jpg); background-repeat:no-repeat; background-position:15px 4px; padding:0px 19px 0px 59px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeBackButtonRight input:hover { text-decoration:none;cursor:pointer; }

.orangeButtonLeft input { display:block; min-height:33px; padding:0px 19px 0px 19px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeButtonLeft input:hover { text-decoration:none; cursor:pointer; }
.orangeButtonRight input { display:block; min-height:33px; padding:0px 19px 0px 19px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeButtonRight input:hover { text-decoration:none; cursor:pointer; }
.orangeButtonLeftHands { float:left; }
.orangeButtonLeftHands input { display:block; min-height:33px; background-image:url(../images/btnHands.jpg); background-repeat:no-repeat; background-position:13px 0px; padding:0px 19px 0px 86px; background-color:#f6921e; font-weight:normal; font-size:16px; color:#ffffff; line-height:33px; box-shadow:2px 2px 5px 1px #a5a4a4; }
.orangeButtonLeftHands input:hover { text-decoration:none;cursor:pointer; }

/* FOOTER */
.footerWrapper { position:fixed; z-index:1000; bottom:0px; left:0px; width:100%; height:100px; background-color:#cecece; background-image:url(../images/footerBG.jpg); background-repeat:repeat-x; }
.footerWrapper.LoggedIn { position:fixed; z-index:1000; bottom:0px; left:0px; width:100%; height:55px; background-color:#cecece; background-image:url(../images/footerBG.jpg); background-repeat:repeat-x; }
#footer { width:960px; margin:0px auto; padding:24px 0px 0px 0px; text-align:center; text-transform:uppercase; }
.footerCopy { color:#58595b; }
.footerCopy a { color:#58595b; }
.footerRegister { color:#58595b; margin-bottom:17px; }
.frmLogin { display:inline; margin:0px 0px 0px 15px; padding:0px; }
.frmLogin input.text { margin-right:7px; color:#58595b; padding:5px 0px 5px 10px; box-shadow:0px 0px 5px 0px #434343 inset; border:1px solid #767576; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; border-bottom-left-radius:4px; }
.frmLogin input.password { color:#58595b; padding:5px 0px 5px 10px; box-shadow:0px 0px 5px 0px #434343 inset; border:1px solid #767576; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; border-bottom-left-radius:4px; }
.frmLogin input.button { font-weight:bold; color:#000000; margin:0px 0px 0px 7px; padding:7px 16px 7px 16px; background-color:#ffffff; border:1px solid #767576; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; border-bottom-left-radius:4px; }

/* FORMS */
form.basicForm { margin:0px; padding:10px 0px 0px 0px; }
fieldset { margin:0px; padding:0px; line-height:15px; border:0px; }
fieldset label { font-weight:normal; font-size:14px; margin:0px 0px 0px 0px; padding:0px 0px 0px 0px; color:#58595b; }
fieldset input { width:200px; margin:5px 0px 0px 0px; padding:5px 5px 5px 5px; box-shadow:0px 0px 5px 0px #434343 inset; border:1px solid #767576; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; border-bottom-left-radius:4px; }
fieldset select { font-size:14px; border:1px solid #999999; margin:5px 0px 0px 0px; padding:3px 5px 3px 5px; box-shadow:0px 0px 5px 0px #434343 inset; border:1px solid #767576; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; border-bottom-left-radius:4px; }
fieldset textarea { border:1px solid #999999; margin:5px 0px 0px 0px; padding:3px 5px 3px 5px; box-shadow:0px 0px 5px 0px #434343 inset; border:1px solid #767576; -webkit-border-top-left-radius:4px; -moz-border-top-left-radius:4px; border-top-left-radius:4px; -webkit-border-top-right-radius:4px; -moz-border-top-right-radius:4px; border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; -moz-border-bottom-right-radius:4px; border-bottom-right-radius:4px; -webkit-border-bottom-left-radius:4px; -moz-border-bottom-left-radius:4px; border-bottom-left-radius:4px; }
fieldset div { position:relative; float:left; margin:0px 20px 0px 0px; padding:0px; }
legend { font-size:1.2em; font-weight:bold; }
textarea { min-height:75px; width:99%; border:1px solid #999999; }
.button { width:auto; font-weight:normal; text-transform:uppercase; font-size:11px; color:#ffffff; margin:10px 0px 0px 0px; border:0px; cursor:pointer; -moz-border-radius:0px; -webkit-border-radius:0px; border-radius:0px; }
label.error { position:absolute; top:0px; right:0px; display:inline; color:#ff0000; padding-left:5px; vertical-align:top; font-size:10px; }
.footnote { font-size:11px; color:#58595b; }
fieldset input.file { color:#747474; border:1px solid #999999; }

div.CreditCardError label.error { position:absolute; top:-20px; right:0px; display:inline; color:#ff0000; padding-left:5px; vertical-align:top; font-size:10px; }

/* CONTENT IMAGES */
.imgRight { float:right; margin:0px 0px 20px 20px; border:0px; }
.imgLeft { float:left; margin:0px 20px 20px 0px; border:0px; }
.noborder { border:0px; }

/* TEXT */
.highlight { color:#242021; font-weight:bold; }
.highlightYellow { color:#f6921e; }

/* HOMEPAGE */
#pageHome { width:920px; min-height:300px; margin:0px auto; padding:0px 20px 99px 20px; }
.featuredImage { width:920px; height:382px; margin-top:2px; text-align:center; }
.homeBoxes { width:920px; margin:15px 0px 0px 0px; }
.homeBoxesContainer { width:858px; margin:0px auto; }
.homeBox { float:left; min-height:131px; padding:20px 24px 29px 24px; background-color:#ffffff; box-shadow:2px 2px 5px 1px #434343; }
.homeBox .boxTitle { font-family:Arial, Verdana, Helvetica, sans-serif; letter-spacing:-1px; font-weight:normal; font-size:20px; color:#58595b; margin-bottom:15px; }
.homeBox .boxDescription { font-family:Arial, Verdana, Helvetica, sans-serif;  font-weight:normal; color:#58595b; }
.BoxLeft { width:332px; margin:0px 15px 15px 0px; }
.BoxRight { width:415px; margin:0px 0px 15px 0px; }

/* ACCOUNTS */
.accountDashboardLeftSide { float:left; width:616px; }
.accountDashboardRightSide { float:left; width:130px; padding-left:20px; text-align:right; }
.menuSection { margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #c8c7c7; }
.menuSection div img { margin-bottom:10px; }

.dashboardBoxAccount { float:left; width:290px; padding:4px; margin-right:10px; margin-bottom:10px; background-color:#cfcfcf; -webkit-box-shadow:1px 1px 4px 1px #5c5c5c; box-shadow:1px 1px 4px 1px #5c5c5c; }
.dashboardBoxAccount .dashboardInfo { float:left; width:170px; }
.dashboardBoxAccount .dashboardInfo div { font-size:10px; }
.dashboardBoxAccount .dashboardInfo div a { font-size:10px; }
.dashboardBoxAccount .dashboardInfo div.roleTitle { font-size:14px; font-weight:bold; padding-bottom:3px; }
.dashboardBoxAccount .dashboardInfo div.roleCategory { font-size:12px; font-weight:bold; padding-bottom:3px; }
.dashboardBoxAccount .dashboardInfo div.roleRating { font-size:12px; font-weight:normal; padding-bottom:3px; }
.dashboardBoxAccount .dashboardInfo div.roleDeal { font-size:12px; font-weight:normal; padding-bottom:3px; }
.dashboardBoxAccount .dashboardInfo div.roleDeal span { font-size:12px; font-weight:bold; padding-bottom:3px; }
.dashboardBoxAccount .roleBusiness { font-size:14px; font-weight:bold; padding-bottom:3px; }

/* DIRECTORY */
.dashboardBox { float:left; width:365px; min-height:130px; padding:4px; margin-right:10px; margin-bottom:10px; background-color:#eeeeee; border:1px solid #555555; }
.dashboardImage { float:left; margin-right:10px; }
.dashboardImage a img { display:block; border:2px solid #ffffff; }
.dashboardImage img { display:block; border:2px solid #ffffff; }
.dashboardInfo { float:left; width:250px; }
.dashboardInfo div { font-size:10px; }
.dashboardInfo div a { font-size:10px; }
.dashboardInfo div.roleTitle { font-size:14px; font-weight:bold; padding-bottom:3px; }
.dashboardInfo div.roleCategory { font-size:12px; font-weight:bold; padding-bottom:3px; }
.dashboardInfo div.roleRating { font-size:12px; font-weight:normal; padding-bottom:3px; }
.dashboardInfo div.roleDeal { font-size:28px; float:right; color:#424242; font-weight:bold; margin:0 10px 10px 10px; }
.dashboardInfo div.roleDeal span { font-size:12px; font-weight:bold; padding-bottom:3px; }
.dashboardInfo div.roleAddress { font-size:12px; font-weight:normal; padding-bottom:3px; }
.dashboardBox .roleBusiness { font-size:14px; font-weight:bold; padding-bottom:3px; }
.dashboardInfo div.roleCity { font-size:12px; font-style:italic; }

.roleLinkIcons img { width:32px; height:auto; opacity: 0.75; }
.roleLinkIcons img:hover { opacity: 1.0; }
.roleLinkIcons img.disabled { opacity: 0.25 !important; cursor: not-allowed; }

.dashboardBox h1 { font-size:14px; font-weight:bold; padding-bottom:5px; text-transform:none; margin:0px; color:black; }
.dashboardBox h2 { font-size:12px; font-weight:bold; padding-bottom:5px; text-transform:uppercase; color:black; }
.dashboardBox h3 { font-size:12px; font-weight:bold; padding-bottom:5px; }
.dashboardBox div { font-size:12px; padding-bottom:5px; }
.dashboardBox .icon { float:left; margin-right:10px; height:100px; width:100px; display:block; border:2px solid white; }

/* BUSINESS */
.dashboardBusinessBox { position:relative; float:left; width:760px; padding:4px; margin-right:10px; margin-bottom:10px; background-color:#cfcfcf; -webkit-box-shadow:1px 1px 4px 1px #5c5c5c; box-shadow:1px 1px 4px 1px #5c5c5c; }
.dashboardBusinessImage { float:left; margin-right:10px; }
.dashboardBusinessImage a img { display:block; border:2px solid #ffffff; }
.dashboardBusinessImage img { display:block; border:2px solid #ffffff; }
.dashboardBusinessInfo { float:left; width:300px; }
.dashboardBusinessInfo div { font-size:12px; }
.dashboardBusinessInfo div a { font-size:12px; }
.dashboardBusinessInfo div.roleTitle { font-size:14px; font-weight:bold; padding-bottom:3px; }

/* MY ACTIVITY */
.dashboardActivityBox { position:relative; float:left; width:760px; padding:4px; margin-right:10px; margin-bottom:10px; background-color:#cfcfcf; -webkit-box-shadow:1px 1px 4px 1px #5c5c5c; box-shadow:1px 1px 4px 1px #5c5c5c; }
.dashboardActivityImage { float:left; margin-right:10px; }
.dashboardActivityImage a img { display:block; border:2px solid #ffffff; }
.dashboardActivityImage img { display:block; border:2px solid #ffffff; }

/* ACCOUNT */
.dashboardAccountBox { position:relative; width:760px; padding:4px; margin-right:10px; margin-bottom:10px; background-color:#cfcfcf; -webkit-box-shadow:1px 1px 4px 1px #5c5c5c; box-shadow:1px 1px 4px 1px #5c5c5c; }
.dashboardAccountBox .MemberImage { float:left; margin-right:10px; }
.dashboardAccountBox .MemberImage a img { display:block; border:2px solid #ffffff; height:160px; width:160px; }
.dashboardAccountBox .QRImage { float:right; margin-left:10px; }
.dashboardAccountBox .QRImage img { display:block; border:2px solid #ffffff; height:160px; width:160px; }
.dashboardAccountBox div { margin-top:5px; margin-bottom:5px; font-size:12px; }
.dashboardAccountBox div .Name { font-weight:bold; font-size:14px; }
.dashboardAccountBox div .Label { font-weight:bold; }
.dashboardAccountBox div .Role { padding-left:5px; padding-right:5px; }

/* NOTIFICATION BOX */
.NotificationBox { position:relative; display:inline-block; padding:10px 20px 10px 10px; margin-bottom:10px; margin-top:10px; -webkit-box-shadow:1px 1px 3px 1px #808080; box-shadow:1px 1px 3px 1px #808080; }
.NotificationBox.Green { background-color:lightgreen; border:1px solid green; }
.NotificationBox.Red { color:red;  border:1px solid red; }
.NotificationMessage { font-size:14px; font-weight:bold; color:green; }
.NotificationClose { position:absolute; top:-8px; right:-8px; width:25px; height:25px; cursor:pointer; background-image:url(../images/RedClose.png); background-repeat:no-repeat; }

/* TIPS */
.TipBox { margin-bottom:10px; padding:4px; background-color:#cfcfcf; -webkit-box-shadow:1px 1px 4px 1px #5c5c5c; box-shadow:1px 1px 4px 1px #5c5c5c; }
.TipAccount { text-align:right; font-style:italic; margin-top:5px; padding-right:10px; text-align:right; }
.TipText { width:100%; }

/* Locations */
.LocationBox { margin-bottom:10px; padding:4px; background-color:#cfcfcf; box-shadow:1px 1px 4px 1px #5c5c5c; }
.LocationInfo { float:left; width:645px; }
.LocationImage { float:left; margin-right:10px; }
.LocationImage a img { display:block; border:2px solid #ffffff; }
.LocationImage img { display:block; border:2px solid #ffffff; }
.LocationInfo div { font-size:12px; }
.LocationInfo div a { font-size:12px; }
.LocationInfo div.LocName { font-size:12px; font-weight:bold; padding-bottom:3px; }

/* RATING */
.StarRating { display:inline-block; width:24px; height:23px; cursor:pointer; background-image:url(../images/Ratings/yellowrating@2x.png); background-repeat:no-repeat; background-position:center center; }
.StarRating div { width:24px; height:23px; cursor:pointer; background-image:url(../images/Ratings/grayrating@2x.png); background-repeat:no-repeat; background-position:center center; }

/* LIGHTBOX */
#LightBoxContent { display:none; position:absolute; min-width:100px; min-height:100px; vertical-align:sub; z-index:9999; padding:3px; border:0px; background-color:#ffffff; }
#Background { display:none; position:fixed; height:100%; width:100%; top:0px; left:0px; text-align:center; background:#000000; z-index:8888;}
.LightBoxClose { position:absolute; top:-12px; right:-8px; width:25px; height:25px; color:#ffffff; cursor:pointer; background-image:url(../images/RedClose.png); background-repeat:no-repeat; }

/* WEB GRIDS */
.WebGridTable { width:100%; border-collapse:collapse; border-spacing:0px 0px; }
.WebGridTable th, .WebGridTable tbody td { border:1px solid #C0C0C0; vertical-align:top; padding:6px 6px 6px 6px; }
.WebGridTable th, .WebGridTable tbody a {  }
.WebGridTable a:hover { text-decoration:none; }
.WebGridHeader { background-color:#dedee6; }
.WebGridHeader a { color:#202020; font-weight:bold;  }
.WebGridHeader a:hover { color:#2d6e95; }
.WebGridTable tbody a { display:block; }
.WebGridTable tbody a:hover { color:blue; }
.WebGridTable tbody tr:hover { background-color:#F5F5F5; }
.WebGridTable tbody tr:hover a { color:blue; }
.WebGridRow { background-color:#ffffff; }
.WebGridRowAlt { background-color:#ffffff; }
.WebGridFooter td { padding-top:14px; font-size:16px; font-weight:bold; }
.WebGridFooter a { padding:0px 10px 0px 10px; font-size:16px; font-weight:bold; }

.wgWidth10 { width:10%; }
.wgWidth15 { width:15%; }
.wgWidth20 { width:20%; }
.wgWidth25 { width:25%; }
.wgWidth30 { width:30%; }
.wgWidth40 { width:40%; }
.wgWidth50 { width:50%; }
.wgWidth60 { width:60%; }
.wgWidth70 { width:60%; }
.wgWidth80 { width:80%; }
.wgWidth90 { width:90%; }
.wgLeft { text-align:left; }
.wgCenter { text-align:center; }
.wgRight { text-align:right; }

/* Inbox messaging*/
.read { font-weight: normal; }
.unread { font-weight: bold; }

#RateBusiness { display:none; }
#BusinessTip { display:none; }