<!-- BUSINESS TABS -->
<div style="text-align:right;margin-bottom:10px;">
    <div class="orangeButton" style="margin-right:10px;"><a href="Tips" class="button">Reviews</a></div>
    <div class="orangeButton" style="margin-right:10px;"><a href="Ratings" class="button">Ratings</a></div>
    <div class="orangeButton" style="margin-right:10px;"><a href="Favorites" class="button">Fans</a></div>
    <div class="orangeButton" style="margin-right:10px;"><a href="Checkins" class="button">Loyalty</a></div>
    <div class="orangeButton" style="margin-right:0px;"><a href="Redemptions" class="button">Social</a></div>
</div>

