@{

}
<!-- FIXED FOOTER -->
<div class="footerWrapper @((SiteAccount.IsLoggedIn()) ? "LoggedIn" : "" )">
    <div id="footer">
        @if ( !SiteAccount.IsLoggedIn( ) )
        {
            <div class="footerRegister">
                Already a Member or Registered Business?
                <form name="frmLogin" id="frmLogin" method="post" class="frmLogin">
                    <input type="button" name="btnSubmit" value="Login" class="button" onclick="javascript: window.location = '/AccountLogin';" />
                </form>
            </div>
        }
        <div class="footerCopy">
            &copy;@(DateTime.Now.Year) UNITE THIS CITY ALL RIGHTS RESERVED
            <br class="visible-mobile" />
            <br class="visible-mobile" />
            <span class="hidden-mobile">|</span>
            <a href="@Href("~/PrivacyPolicies")">PRIVACY POLICIES</a>
            <span class="hidden-mobile">|</span>
            <a href="@Href("~/TermsAndConditions")">TERMS &amp; CONDITIONS</a>
            <span class="hidden-mobile">|</span>
            <a href="@Href( "~/ContactUs" )">CONTACT US</a>
        </div>
    </div>
</div>
<div id="footer-mobile">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 text-right">
                <a href="https://twitter.com/UniteThisCity" target="_blank" title="New Window">
                    <img src="/images/icon_btn_twitter.png" alt="Twitter" border="0" />
                </a>
            </div>
            <div class="col-xs-6 text-left">
                <a href="http://www.facebook.com/UniteThisCity?fref=ts" target="_blank" title="New Window">
                    <img src="/images/icon_btn_facebook.png" alt="Facebook" border="0" />
                </a>
            </div>
        </div>
    </div>
</div>
<div id="container-logo-footer-mobile" class="container">
    <h4 class="text-uppercase">Download the App Today!</h4>
    <div class="row">
        <div class="col-xs-6 col-sm-6 text-right">
            <a href="https://itunes.apple.com/us/app/unite-this-city/id632383334?mt=8" target="_blank">
                <img class="img-responsive" src="/images/ios-app-store-logo.png" alt="Available on the App Store" border="0" />
            </a>
        </div>
        <div class="col-xs-6 col-sm-6">
            <a href="https://play.google.com/store/apps/details?id=com.unitethiscity&hl=en" target="_blank">
                <img class="img-responsive" src="/images/android-app-store-logo.png" alt="Available on Google Play" border="0" />
            </a>
        </div>
    </div>
</div>