@{

}
		<!-- HOME BOXES -->
		<div class="homeBoxes">
			<div class="homeBoxesContainer">
				<div class="homeBox BoxLeft">
                    <div class="boxTitle">WHAT IS UNITE THIS CITY?</div>
                    <iframe src="http://player.vimeo.com/video/61587721?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="332" height="187" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
				</div>
				<div class="homeBox BoxRight">
					<div class="boxTitle">BECOME A MEMBER AND SAVE MONEY</div>
					<div class="boxDescription">Become a member and take advantage of hundreds of local stores, restaurants, service providers and entertainment venues, with UTC cash 
                    renewable each month. You'll also have opportunities to win monthly prizes, including trips, shopping sprees and high-tech gear. And that's just the beginning. 
                    Join now and save!<br /><br />
                    Unite This City is committed to bringing out the best in our community. We encourage individuals, businesses and 
                        nonprofits to join in support of our mutual goal to <span class="highlight">Unite This City!</span>
					</div>
                    <br style="clear:right" />
					<div class="orangeButtonRight" style="margin-top:-5px;"><a href="@Href("~/JoinUs")">JOIN NOW</a></div>
				</div>
				<br style="clear:left;" />
			</div>
		</div>