@{
}
        <!-- RIGHT COLUMN -->
		<div id="rightSide">
			<div class="rightSideTitle">Why Local?</div>
			<div class="checklist">
				Keep Dollars In Our Economy
			</div>
			<div class="checklist">
				Embrace What Makes Our Community Different
			</div>
			<div class="checklist">
				Foster Local Job Creation
			</div>
			<div class="checklist">
				Benefit From Local Owner Expertise
			</div>
			<div class="checklist">
				Conserve Your Tax Dollars
			</div>
			<div class="checklist">
				Have More Choices
			</div>
			<div class="checklist">
				Nurture Your Community
			</div>
			<div class="checklist">
				Preserve Entrepreneurship
			</div>
			<div class="orangeButtonLeftBlackNoImage" style="margin-left:30px;margin-top:10px;"><a href="@Href( "~/WhyLocal" )">LEARN MORE</a></div>
			<div><img src="@Href( "~/images/join-today.png" )" width="200" height="168" alt="Home" style="margin-left:6px;margin-bottom:18px;margin-top:10px;" /></div>
			<div class="orangeButtonLeftBlack" style="margin-left:15px;"><a href="@Href( "~/JoinUs" )">JOIN NOW</a></div>
			<br style="clear:left;" />
		</div>